@import "bootstrap";

.container{
    margin-top: 50px;
    margin-bottom: 50px;
}

.btn{
    margin-top: 50px;
}

input, textarea, select, .uneditable-input {
    border: 1px solid #bbb;
    width: 100%;
    margin-bottom: 15px;
}
  
input, textarea {
    height: auto !important;
}